@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@500;700&display=swap');


:root {

    --font1: 'Open Sans', sans-serif;
    --font2: 'Raleway', sans-serif;

    --cor1: #f0f8ff;
    --cor2: #b3e5fc;
    --cor3: #00bfa5;
    --cor4: #0077be;
    --cor5: #003f5c;

}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url('../imagens/baleia1.jpg');
    background-size: cover;
    background-position: center center;
    padding: 100px;
    text-align: center;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.418);
}

header > h1 {
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    background-color: rgba(0, 63, 92, 0.444);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.418);
    font-variant: small-caps;
    font-family: var(--font2);
    padding: 20px;
    margin-top: 20px;
    font-weight: bolder;
    font-size: 7vw;
}

section {
    color: black;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 3vh;
    font-family: var(--font1);
    font-weight: normal;
    line-height: 2em;
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagen {
    background-color: var(--cor5);
    padding-bottom: 7vh;
    padding-top: 7vh;
    
    background-size: cover;
    background-attachment: fixed;

    box-shadow: inset 6px 6px 20px 0px rgba(0, 0, 0, 0.418);

}

section.imagen > p {
    color: var(--cor1);
    display: inline-block;
    background-color: rgba(0, 63, 92, 0.096);
    padding: 5px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.418);
    
}

#img1 {
    background-position:bottom center;
    background-image: url('../imagens/baleia2.jpg');
}

#img2 {
    background-position:left center;
    background-image: url('../imagens/orcas.jpg');
}

footer > p{
    background-color: black;
    color: white;
    padding: 15px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}